
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  
     <script src=" https://code.jquery.com/jquery-3.3.1.js"></script>
  
     <script src=" https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
<script type="text/javascript">
  $(document).ready(function() {
    $('#tblResult').DataTable({
        "scrollY":        "300px"
    });
  });
</script>   
</head>
<p id="notice"><%= notice %></p>

<div class="container" style="text-align: center;">
<% if !flash[:notice].blank? %>
   <div>
      <%= flash[:notice] %>
   </div>
<% end %>

<%= link_to 'New Page Master', new_page_master_path, class: "btn btn-info" %><br>
<br>
<table border="3" class="table table-striped" id ="tblResult">
  <thead class="thead-dark">
    <tr>
      <th scope="col"  style="text-align: center;">Pagename</th>
      <th scope="col"  style="text-align: center;">Pagelink</th>
      <th scope="col"  style="text-align: center;">Show</th>
      <th scope="col"  style="text-align: center;">Edit</th>
      <th scope="col"  style="text-align: center;">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @page_masters.each do |page_master| %>
      <tr>
        <td><%= page_master.pagename %></td>
        <td><%= page_master.pagelink %></td>
        <td><%= link_to 'Show', page_master %></td>
        <td><%= link_to 'Edit', edit_page_master_path(page_master) %></td>
        <td><%= link_to 'Destroy', page_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


