<p id="notice"><%= notice %></p>

<p>
  <strong>Role master:</strong>
  <%=  RoleMaster.find(@role_page.role_master_id).rolename %>
</p>

<p>
  <strong>Page master:</strong>
  <%=  PageMaster.find(@role_page.page_master_id).pagename %>
</p>

<%= link_to 'Edit', edit_role_page_path(@role_page) %> |
<%= link_to 'Back', role_pages_path %>
